.meld-encrypt-encrypted-note-view{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meld-encrypt-encrypted-note-view.is-readable-line-width{
	max-width: var(--file-line-width);
	margin-left: auto;
	margin-right: auto;
}

.meld-encrypt-encrypted-note-view .editor-source-view {
	flex-grow: 1;
	align-self: stretch;
}

.meld-encrypt-encrypted-note-view .editor-reading-view {
	flex-grow: 1;
	align-self: stretch;
}


.meld-encrypt-inline-reading-marker {
	cursor: pointer;
}

.meld-encrypt-decrypt-modal textarea{
	width: 100%;
	min-height: 3em;
	resize: vertical;
}