/* FEATURE WHOLE NOTE */

.meld-encrypt-encrypted-note-view-content{
    display: flex;
    flex-direction: column;
	height: calc( 100vh - var(--header-height) * 2.5 ) !important;
}

.meld-encrypt-encrypted-note-view .encrypted-note-message{
	text-align: center;
    padding-bottom: 0.5em;
}


.meld-encrypt-encrypted-note-view .input-container{
	max-width: 400px;
}

.meld-encrypt-encrypted-note-view .content-container{
	width: 100%;
}

.meld-encrypt-encrypted-note-view .is-readable-line-width .content-container{
	max-width: var(--file-line-width);
	margin-left: auto;
	margin-right: auto;
}

.meld-encrypt-encrypted-note-view .editor-reading-view{
	user-select: text;
}

.meld-encrypt-encrypted-note-view .editor-reading-view,
.meld-encrypt-encrypted-note-view .editor-source-view{
	padding-bottom: 233px;	
}

/* END FEATURE WHOLE NOTE */

/* FEATURE IN LINE */

.meld-encrypt-inline-reading-marker {
	cursor: pointer;
}

.meld-encrypt-decrypt-modal textarea{
	width: 100%;
	min-height: 3em;
	resize: vertical;
}

/* END FEATURE IN LINE */