/* FEATURE WHOLE NOTE */

.meld-encrypt-encrypted-note-view-content{
    display: flex;
    flex-direction: column;
	height: calc( 100vh - var(--header-height) * 2.5 ) !important;
}

.meld-encrypt-encrypted-note-view .encrypted-note-message{
	text-align: center;
    padding-bottom: 0.5em;
}


.meld-encrypt-encrypted-note-view .input-container{
	max-width: 400px;
}

.meld-encrypt-encrypted-note-view .content-container{
	width: 100%;
}

.meld-encrypt-encrypted-note-view .is-readable-line-width .content-container{
	max-width: var(--file-line-width);
	margin-left: auto;
	margin-right: auto;
}

.meld-encrypt-encrypted-note-view .editor-reading-view{
	user-select: text;
}

.meld-encrypt-encrypted-note-view .editor-reading-view,
.meld-encrypt-encrypted-note-view .editor-source-view{
	padding-bottom: 233px;	
}

/* END FEATURE WHOLE NOTE */

/* FEATURE IN LINE */

.meld-encrypt-inline-reading-marker {
	cursor: pointer;
}

.meld-encrypt-decrypt-modal textarea{
	width: 100%;
	min-height: 3em;
	resize: vertical;
}

/* END FEATURE IN LINE */

/* FEATURE ENCRYPTED MD */

div[data-type="meld-encrypted-view"] .view-content {
	/* background-color: #ffffff; */
	/* background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23000000' fill-opacity='0.01' fill-rule='evenodd'/%3E%3C/svg%3E"); */
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50"><path d="M 25 2 C 17.832484 2 12 7.8324839 12 15 L 12 21 L 8 21 C 6.3550302 21 5 22.35503 5 24 L 5 47 C 5 48.64497 6.3550302 50 8 50 L 42 50 C 43.64497 50 45 48.64497 45 47 L 45 24 C 45 22.35503 43.64497 21 42 21 L 38 21 L 38 15 C 38 7.8324839 32.167516 2 25 2 z M 25 4 C 31.086484 4 36 8.9135161 36 15 L 36 21 L 14 21 L 14 15 C 14 8.9135161 18.913516 4 25 4 z M 8 23 L 42 23 C 42.56503 23 43 23.43497 43 24 L 43 47 C 43 47.56503 42.56503 48 42 48 L 8 48 C 7.4349698 48 7 47.56503 7 47 L 7 24 C 7 23.43497 7.4349698 23 8 23 z M 13 34 A 2 2 0 0 0 11 36 A 2 2 0 0 0 13 38 A 2 2 0 0 0 15 36 A 2 2 0 0 0 13 34 z M 21 34 A 2 2 0 0 0 19 36 A 2 2 0 0 0 21 38 A 2 2 0 0 0 23 36 A 2 2 0 0 0 21 34 z M 29 34 A 2 2 0 0 0 27 36 A 2 2 0 0 0 29 38 A 2 2 0 0 0 31 36 A 2 2 0 0 0 29 34 z M 37 34 A 2 2 0 0 0 35 36 A 2 2 0 0 0 37 38 A 2 2 0 0 0 39 36 A 2 2 0 0 0 37 34 z" fill-opacity="0.02"></path></svg>');
}

/* END FEATURE ENCRYPTED MD */